/*@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /*font-family: 'Itim', cursive;*/
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}
h1 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 800;
}
h2 {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 700;
}
h4 {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
}
h5 {
  font-size: rem;
  line-height: 1rem;
  font-weight: 700;
}
h6 {
  font-size: 0.75rem;
  line-height: 1.75rem;
  font-weight: 700;
}
